<!DOCTYPE html>
<html>
  <head>
    <title>Remote Modals Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class=container>
      <%= yield %>
    </div>
  </body>
</html>
